.stadium {
    background: url(./../img/grass.png);
    margin: 100px auto 0;
    width: 1170px;
    position: relative;
    padding: 0 10px;
    border: 5px solid yellowgreen;
}

.track {
    position: relative;
    height: 110px;
}

.track + .track {
    margin-top: 50px;
}

.player {
    height: 100px;
    width: 110px;
    position: absolute;
    top: 5px;
    left: 0;
    background: center no-repeat;
    transition: left linear 2s;
}

.rabbit {
    background-image: url(./../img/rabbit.png);
}

.wolf {
    background-image: url(./../img/wolf.png);
}

.obstacle {
    position: absolute;
    width: 55px;
    height:110px;
    background: center no-repeat;
    top: 5px;
}

.stone {
    background-image: url(./../img/stone.png);
    background-position: center 75px;
}

.berry {
    background-image: url(./../img/berry.png) ;
}